%p#notice= notice

%h5 
  %span
    %a{:href=>root_path}
      Home
  %span /
  %span
    All your servers! :o

%table.table.table-sm
  %tbody
    - Client.all.each do |c|
      %tr
        %th.thead-inverse
          %span.icon.icon-home
          %a{:href=>client_path(c)}
            = c.name
      - c.servers.each do |server|
        %tr
          %td= server.name
          %td= link_to 'Show', server
          %td= link_to 'Edit', edit_server_path(server)
          %td= link_to 'Destroy', server, method: :delete, data: { confirm: 'Are you sure?' }