/%p#notice= notice
/= link_to 'Edit', edit_client_path(@client)
%br
.pull-right
  .dropdown
    %span#dropdownMenu1.icon.icon-cog.header-btn{"aria-expanded" => "false", "aria-haspopup" => "false", "data-toggle" => "dropdown", :type => "button"}
    .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "dropdownMenu1"}
      %a.dropdown-item{:href => edit_client_path(@client)} 
        %span.icon.icon-brush
          Edit client
      %a.dropdown-item{:href => "#"} 
        %span.icon.icon-new
          Delete client
.pull-right
  %span.icon.icon-help-with-circle.header-btn{"data-placement" => "left", "data-toggle" => "tooltip", :title => "Tip: Click on server name to edit.", :type => "button"}
  &nbsp; 
.pull-right
  %button.btn.btn-info-outline.new-server-popover{"data-content" => "#{render 'client_server_form'}", "data-toggle" => "popover", "data-placement"=>"bottom", :title => "Create New Server", :type => "button", "data-html"=>"true"} 
    New Server
  &nbsp;
  &nbsp;

%h5
  %span
    %a{:href=>root_path}
      Home
  %span /
  %span
    %a{:href=>clients_path}
      Clients
  %span /
  %span.icon.icon-home.best_in_place_cname_wrapper
  &nbsp;
  = best_in_place @client, :name, :as => :input, :inner_class=>"cname_in_place_inner form-control form-control-sm", :place_holder => '+', :class=>'cname_in_place form-inline'  
%br

%table.table.table-sm
  %thead.thead-inverse
    %tr
      %th Server Name
      %th Description
      %th
  %tbody
    - @client.servers.each do |server|
      %tr
        %td
          %strong
            = best_in_place server, :name, :as => :input, :inner_class=>"c_server_in_place_inner form-control form-control-sm", :place_holder => '+', :class=>'c_server_in_place form-inline'
        %td
          = best_in_place server, :description, :as => :input, :inner_class=>"c_server_in_place_inner form-control form-control-sm", :place_holder => '+', :class=>'c_server_in_place form-inline'
        %td.right
          %span.icon.icon-trash{"data-target" => "#{"#"+ server.id.to_s}", "data-toggle" => "modal", :type => "button"} 
        .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "mySmallModalLabel", :role => "dialog", :tabindex => "-1", :id=>"#{server.id.to_s}"}
          .modal-dialog.modal-sm
            .modal-content
              .modal-header
                %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                  %span{"aria-hidden" => "true"} &times;
                %h4#myModalLabel.modal-title Are you sure?
              .modal-body
                %h6 This is a destructive operation.
                =server.name
              .modal-footer
                %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close
                = link_to server, method: :delete do
                  %button.btn.btn-danger
                    Delete!
:javascript
  $(function () {
    $('.new-server-popover').popover({
      container: 'body'
    })
  })

  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })

  $(document).ready(function() {
    /* Activating Best In Place */
    jQuery(".best_in_place").best_in_place();
  });
