%p#notice= notice
/= link_to 'Edit', edit_client_path(@client)

%h5 
  %span
    %a{:href=>root_path}
      Home
  %span /
  %span
    %a{:href=>clients_path}
      Clients
  %span /
  %span= @client.name
  &nbsp;&nbsp;
  %button.btn.btn-lg.btn-info-outline.new-server-popover{"data-content" => "#{render 'client_server_form'}", "data-toggle" => "popover", "data-placement"=>"bottom", :title => "Create New Server", :type => "button", "data-html"=>"true"} 
    New Server
%table.table
  %tbody
    - @client.servers.each do |server|
      %tr
        %td= server.name
        %td= link_to 'Show', server
        %td= link_to 'Edit', edit_server_path(server)
        %td= link_to 'Destroy', server, method: :delete, data: { confirm: 'Are you sure?' }


:javascript
  $(function () {
    $('.new-server-popover').popover({
      container: 'body'
    })
  })