!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Malibux
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container-fluid
      .row
        .col-sm-3.col-md-2.sidebar
          =Time.now.strftime("%a | %b %d %Y")
          %hr
          %h5.team_name
            Squeeze Tech
            %i.fa.fa-angle-down
          .dropdown
            %button.btn.btn-secondary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
            Action
            .dropdown-menu
              %a.dropdown-item{:href => "#"} Action
              %a.dropdown-item{:href => "#"} Another action
              %a.dropdown-item{:href => "#"} Something else here
              .dropdown-divider
              %a.dropdown-item{:href => "#"} Separated link
          %p.user_name
            %i.fa.fa-user
            Cherrie
          %hr
          %a{:href=>roll_calls_path}
            &#x23 My Backup Checks
          %hr
          %a{:href=>clients_path}
            &#x23 My Clients
          %a{:href=>servers_path}
            &#x23 List All My Servers


          = link_to('Logout', destroy_user_session_path, :method => :delete)


        .col-sm-9-col-sm-offset-3.col-md-10.col-md-offset-2
          = yield

:javascript
  $('.dropdown-toggle').dropdown()
